.box {
    position: relative;
    margin: 20px auto;
    border: 1px solid #f0f0f0;
    width: 900px;
}

#slider {
    position: absolute;
    top: 0;
    left: 99px;
    right: 99px;
    bottom: 0;
    height: auto;
    background: transparent;
    cursor: ew-resize;
    border: none;
}
#slider span {
    height: auto;
    top: -3px;
    bottom: -3px;
    width: 1em;
    margin-left: -.5em;
    opacity: .8;
    outline: none;
    cursor: ew-resize;
}
.item h3 {
    margin-left: 1em;
    margin-right: 1em;
}